*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
    width: 89%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 132px;
    justify-content: space-between;
}
.menu{
  display:flex;
  margin-right: 40px;
}
.menu ul{
    display: flex;
    list-style: none;
    margin-right: 60px;
}
.menu ul li{

}
.menu ul li a{
  text-decoration: none;
}

