*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body{
  position: relative;
  font-family: Roboto,sans-serif;
}
h1{
  font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: black;
    margin-bottom: 20px;
}
p{
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}
.text__gray{
  font-size: 22px;
  margin-bottom: 20px;
  color:gray !important;
}
.linear-gradient-btn{
  padding: 20px 35px;
  font-size:15px;
  border-radius: 30px;
  border: 1px solid transparent;
  color: white;
  background-image:linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  transition: all .5s ;
  cursor: pointer;
  line-height: 1.2;
  background-size: 200%;
  outline: none;
  }
.linear-gradient-btn:hover{
    background-position: right center;
}
.fa-check{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 35px;
    font-size: 24px;
    color: white;
    font-weight: 900;

    /* 
    
    
    background-size: 200%;
    margin-right: 10px; */
}
/* ----------------------Header---------------------- */
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
header .container{
  width: 89%;
  margin: 0 auto;
}
header .container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
  display:flex;
  align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
  padding: 57px 6px;
}
.menu ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin-right:27px;
  font-weight: 500;
}
.menu ul li a span{
  display:inline-block;
}
.menu ul li:hover i{
  color:#f55f8d;
}
.menu ul li:hover span{
  color:#f55f8d;
  animation:upDown .3s forwards;
}
@keyframes upDown {
  60%{
    transform: translateY(20px);
  }
  70%{
    opacity: 0;
    transform: translateY(-20px);
  }
  80%{
    opacity: 1;
  }
}
.menu ul i{
  font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}
/* ----------Intro---------- */
#intro{

}
.intro__content{}

